html,body,div,section,article,aside,header,footer,nav,h1,h2,h3,h4,h5,h6,p,em,strong,img,ol,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f6fbf3;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #DCE5DA;
    width: 110px;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar-item {
    padding-top: 24px;
    text-align: center;
    align-content: center;
}

.sidebar-item span {
    margin-bottom: 8px;
}

.main {
    display: flex;
    flex-direction: row;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
}

.header {
    display: flex;
}

.title-card {
    background-color: #EBEFE7;
    padding: 56px;
    border-radius: 10px;
    align-self: center;
}

.title-card h1 {
    font-size: 70px;
    font-weight: 475;
}

.meter {
    margin-top: 24px;
    background-color: #EBEFE7;
    height: 250px;
    width: calc(100vw - 206px);
    padding: 24px;
    border-radius: 10px;
}

.meter h2 {
    font-size: 26px;
    font-weight: 475;
}

.meter-components {
    display: flex;
    flex-direction: row;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.meter-item {
    text-align: center;
}

.meter-large {
    font-size: 60px;
    font-weight: bold;
}

.meter-small {
    font-size: 20px;
}

.meter-heading h2{
    margin-left: 5px;
    display: inline-block;
}

.recent {
    display: flex;
    margin-top: 24px;
    height: 250px;
    width: calc(100vw - 160px);
    border-radius: 10px;
}

.recent-ex {
    flex: 1 1 50%;
    margin-right: 24px;
    height: 85%;
    background-color: #EBEFE7;
    border-radius: 10px;
    padding: 24px;
}

.recent-ex h2 {
    font-size: 26px;
    display: inline;
    font-weight: 475;
}

.recent-food h2 {
    font-size: 26px;
    display: inline;
    font-weight: 475;  
}

.recent-food {
    flex: 1 1 50%;
    background-color: #EBEFE7;
    height: 85%;
    border-radius: 10px;
    padding: 24px;
}

.recent-ex-cont {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.ex-item {
    display: flex;
    flex-direction: row;
    background-color: #BDEAF5;
    border-radius: 10px;
    margin-top: 8px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
