html,body,div,section,article,aside,header,footer,nav,h1,h2,h3,h4,h5,h6,p,em,strong,img,ol,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f6fbf3;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #DCE5DA;
    width: 110px;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar-item {
    padding-top: 24px;
    text-align: center;
    align-content: center;
}

.sidebar-item span {
    margin-bottom: 8px;
}
